node-red-bthome/examples/bthome.json
[
    {
        "id": "da2333b077f13c53",
        "type": "mqtt in",
        "z": "1607080a6a66359a",
        "name": "",
        "topic": "node-red/bleraw",
        "qos": "0",
        "datatype": "json",
        "broker": "66b8b47e.0f87bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 560,
        "wires": [
            [
                "da23792a27f30483"
            ]
        ]
    },
    {
        "id": "da23792a27f30483",
        "type": "bthome",
        "z": "1607080a6a66359a",
        "name": "",
        "devices": "{\"11:22:33:44:55:66\":{\"topic\":\"dev_unencrypted_1\"},\"00:01:02:03:04:05\":{\"topic\":\"dev_unencrypted_2\"},\"00:10:20:30:40:50\":{\"topic\":\"dev_encrypted_1\",\"key\":\"00112233445566778899AABBCCDDEEFF\"},\"00:00:00:00:00:00\":{\"topic\":\"dev_encrypted_2\",\"key\":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]}}",
        "counterMode": "none",
        "statusPrefix": "Status",
        "eventPrefix": "Event",
        "contextVar": "bt-home",
        "contextStore": "memoryOnly",
        "batteryState": false,
        "x": 460,
        "y": 540,
        "wires": [
            [
                "45cc12931b5a0b52",
                "02887e37eebfaae5"
            ],
            [
                "347a2db3d0351824"
            ]
        ]
    },
    {
        "id": "45cc12931b5a0b52",
        "type": "debug",
        "z": "1607080a6a66359a",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 520,
        "wires": []
    },
    {
        "id": "347a2db3d0351824",
        "type": "debug",
        "z": "1607080a6a66359a",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 560,
        "wires": []
    },
    {
        "id": "5ba4c641b627284d",
        "type": "inject",
        "z": "1607080a6a66359a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"addr\":\"11:22:33:44:55:66\",\"rssi\":-85,\"time\":1745395033113,\"gateway\":\"Shelly Gateway\",\"data\":[68,0,164,1,100,46,56,69,43,255]}",
        "payloadType": "json",
        "x": 290,
        "y": 520,
        "wires": [
            [
                "da23792a27f30483"
            ]
        ]
    },
    {
        "id": "02887e37eebfaae5",
        "type": "switch",
        "z": "1607080a6a66359a",
        "name": "is WS90",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "dewpoint",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 360,
        "wires": [
            [
                "57b7cd4b7d2e6f25"
            ]
        ]
    },
    {
        "id": "57b7cd4b7d2e6f25",
        "type": "ws90",
        "z": "1607080a6a66359a",
        "name": "",
        "contextStore": "memoryOnly",
        "refheight": "500",
        "x": 630,
        "y": 360,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "66b8b47e.0f87bc",
        "type": "mqtt-broker",
        "name": "mqtt.lan",
        "broker": "mqtt.lan",
        "port": "1883",
        "clientid": "node-red",
        "autoConnect": false,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "node-red/online",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "true",
        "birthMsg": {},
        "closeTopic": "node-red/online",
        "closeQos": "1",
        "closeRetain": "true",
        "closePayload": "false",
        "closeMsg": {},
        "willTopic": "node-red/online",
        "willQos": "1",
        "willRetain": "true",
        "willPayload": "false",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "888386dbbbc56d84",
        "type": "global-config",
        "env": [],
        "modules": {
            "@mschaeffler/node-red-bthome": "1.6.0"
        }
    }
]