node-red-logic/examples/math.json
[
    {
        "id": "e7a1598e6f6358b9",
        "type": "tab",
        "label": "math flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abfd3bd5f2b524a9",
        "type": "junction",
        "z": "e7a1598e6f6358b9",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "244e769e05d8b030",
                "43298eb40b87f0ac",
                "7be607a719dad008"
            ]
        ]
    },
    {
        "id": "7be607a719dad008",
        "type": "junction",
        "z": "e7a1598e6f6358b9",
        "x": 320,
        "y": 300,
        "wires": [
            [
                "3c37bb4e8785f015",
                "b387e894bd2d43ef"
            ]
        ]
    },
    {
        "id": "b387e894bd2d43ef",
        "type": "reduce",
        "z": "e7a1598e6f6358b9",
        "name": "",
        "topic": "",
        "property": "payload",
        "minMean": "1",
        "maxMean": "1",
        "minData": "2",
        "algo": "add",
        "x": 430,
        "y": 280,
        "wires": [
            [
                "ae068d25a90dae25"
            ]
        ]
    },
    {
        "id": "b3daecdca91d5857",
        "type": "counter",
        "z": "e7a1598e6f6358b9",
        "name": "",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "8d3bba1d6e5cb22f"
            ]
        ]
    },
    {
        "id": "244e769e05d8b030",
        "type": "tonumber",
        "z": "e7a1598e6f6358b9",
        "name": "",
        "property": "payload",
        "showState": true,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "5a783605c2561d00"
            ]
        ]
    },
    {
        "id": "8d3bba1d6e5cb22f",
        "type": "debug",
        "z": "e7a1598e6f6358b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "5a783605c2561d00",
        "type": "debug",
        "z": "e7a1598e6f6358b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "ae068d25a90dae25",
        "type": "debug",
        "z": "e7a1598e6f6358b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "b7f75f4a22ecd0ee",
        "type": "inject",
        "z": "e7a1598e6f6358b9",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "A",
        "payload": "5",
        "payloadType": "str",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "b3daecdca91d5857",
                "abfd3bd5f2b524a9"
            ]
        ]
    },
    {
        "id": "19ad2b1afbfee8cf",
        "type": "inject",
        "z": "e7a1598e6f6358b9",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "A",
        "payload": "-5",
        "payloadType": "num",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "abfd3bd5f2b524a9"
            ]
        ]
    },
    {
        "id": "ac9dd1323d3d60ae",
        "type": "inject",
        "z": "e7a1598e6f6358b9",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "A",
        "payload": "0",
        "payloadType": "str",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "abfd3bd5f2b524a9"
            ]
        ]
    },
    {
        "id": "144150b47c7b7f5e",
        "type": "inject",
        "z": "e7a1598e6f6358b9",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "B",
        "payload": "2",
        "payloadType": "num",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "7be607a719dad008"
            ]
        ]
    },
    {
        "id": "424f044c65f13d95",
        "type": "inject",
        "z": "e7a1598e6f6358b9",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "B",
        "payload": "-2",
        "payloadType": "num",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "7be607a719dad008"
            ]
        ]
    },
    {
        "id": "5fa26abfa096ab15",
        "type": "inject",
        "z": "e7a1598e6f6358b9",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "B",
        "payload": "0",
        "payloadType": "num",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "7be607a719dad008"
            ]
        ]
    },
    {
        "id": "3c37bb4e8785f015",
        "type": "reduce",
        "z": "e7a1598e6f6358b9",
        "name": "",
        "topic": "",
        "property": "payload",
        "minMean": "1",
        "maxMean": "3",
        "minData": "2",
        "algo": "mean",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "e48c5acab52f93e3"
            ]
        ]
    },
    {
        "id": "e48c5acab52f93e3",
        "type": "debug",
        "z": "e7a1598e6f6358b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "43298eb40b87f0ac",
        "type": "negate",
        "z": "e7a1598e6f6358b9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "showState": false,
        "filter": false,
        "x": 430,
        "y": 160,
        "wires": [
            [
                "1603aaa3760fb2ff"
            ]
        ]
    },
    {
        "id": "1603aaa3760fb2ff",
        "type": "debug",
        "z": "e7a1598e6f6358b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 160,
        "wires": []
    }
]