node-red-logic/examples/statistics.json
[
    {
        "id": "15a68aee9e4b93d8",
        "type": "tab",
        "label": "statistics flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8b8b9dd67621a97e",
        "type": "statistics",
        "z": "15a68aee9e4b93d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "deltaTime": "10",
        "minData": "2",
        "x": 320,
        "y": 80,
        "wires": [
            [
                "1a6086132fd93e1a"
            ]
        ]
    },
    {
        "id": "1a6086132fd93e1a",
        "type": "debug",
        "z": "15a68aee9e4b93d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 80,
        "wires": []
    },
    {
        "id": "40735ba7d52d0d38",
        "type": "inject",
        "z": "15a68aee9e4b93d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "random",
        "payload": "$random()*100",
        "payloadType": "jsonata",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "8b8b9dd67621a97e",
                "112b54f517725aaf"
            ]
        ]
    },
    {
        "id": "112b54f517725aaf",
        "type": "mean",
        "z": "15a68aee9e4b93d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "deltaTime": "60",
        "minData": "1",
        "filter": "0",
        "filterVal": "0",
        "filterMul": "10",
        "zeroIsZero": false,
        "showState": true,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "c85e2783dab69e05"
            ]
        ]
    },
    {
        "id": "c85e2783dab69e05",
        "type": "debug",
        "z": "15a68aee9e4b93d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 140,
        "wires": []
    }
]