node-red-hourmeter/examples/hourmeter.json
[
    {
        "id": "3412a0829ce8c730",
        "type": "inject",
        "z": "5535ca07b24e93fb",
        "name": "on",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "FooBar",
        "payload": "true",
        "payloadType": "bool",
        "x": 470,
        "y": 320,
        "wires": [
            [
                "fd93870645a4a85f"
            ]
        ]
    },
    {
        "id": "bb79f2418e396b81",
        "type": "inject",
        "z": "5535ca07b24e93fb",
        "name": "off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "FooBar",
        "payload": "false",
        "payloadType": "bool",
        "x": 470,
        "y": 360,
        "wires": [
            [
                "fd93870645a4a85f"
            ]
        ]
    },
    {
        "id": "38045f41e57b15fe",
        "type": "debug",
        "z": "5535ca07b24e93fb",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 840,
        "y": 220,
        "wires": []
    },
    {
        "id": "d9602022a482778b",
        "type": "inject",
        "z": "5535ca07b24e93fb",
        "name": "reset",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "fd93870645a4a85f"
            ]
        ]
    },
    {
        "id": "5d1dc9dc9d3f149c",
        "type": "inject",
        "z": "5535ca07b24e93fb",
        "name": "querry",
        "props": [
            {
                "p": "querry",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "fd93870645a4a85f"
            ]
        ]
    },
    {
        "id": "fd93870645a4a85f",
        "type": "hourmeter",
        "z": "5535ca07b24e93fb",
        "name": "",
        "topic": "test",
        "cycle": "15",
        "contextStore": "memoryOnly",
        "showState": true,
        "x": 650,
        "y": 260,
        "wires": [
            [
                "38045f41e57b15fe"
            ],
            [
                "b539377232a19924"
            ]
        ]
    },
    {
        "id": "b539377232a19924",
        "type": "debug",
        "z": "5535ca07b24e93fb",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "a831f554dd6fce40",
        "type": "inject",
        "z": "5535ca07b24e93fb",
        "name": "set",
        "props": [
            {
                "p": "set",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12",
        "payloadType": "num",
        "x": 470,
        "y": 160,
        "wires": [
            [
                "fd93870645a4a85f"
            ]
        ]
    },
    {
        "id": "55acd484dd996916",
        "type": "global-config",
        "env": [],
        "modules": {
            "@mschaeffler/node-red-hourmeter": "1.0.0"
        }
    }
]