node-red-pwm/examples/pwm.json
[{"id":"e8283c4efea2f41d","type":"inject","z":"cee84b4b.ab3628","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"PWM","payload":"0.333","payloadType":"num","x":190,"y":1060,"wires":[["9be1f96753a8aa90"]]},{"id":"8978e4205681c1e0","type":"debug","z":"cee84b4b.ab3628","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":580,"y":1040,"wires":[]},{"id":"9be1f96753a8aa90","type":"pwmOutput","z":"cee84b4b.ab3628","name":"","property":"payload","propertyType":"msg","cyclicTime":"3","showState":true,"x":390,"y":1080,"wires":[["8978e4205681c1e0","c5387ef2ef6c86b9"]]},{"id":"d46073e8bd81309a","type":"inject","z":"cee84b4b.ab3628","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"PWM","payload":"0","payloadType":"num","x":210,"y":1020,"wires":[["9be1f96753a8aa90"]]},{"id":"6b314214893e85d6","type":"inject","z":"cee84b4b.ab3628","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"PWM","payload":"1","payloadType":"num","x":210,"y":1140,"wires":[["9be1f96753a8aa90"]]},{"id":"31bdc667930cda2b","type":"inject","z":"cee84b4b.ab3628","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"PWM","payload":"0.667","payloadType":"num","x":190,"y":1100,"wires":[["9be1f96753a8aa90"]]},{"id":"c5387ef2ef6c86b9","type":"pwmInput","z":"cee84b4b.ab3628","name":"","property":"payload","propertyType":"msg","measureTime":"60","showState":true,"x":590,"y":1120,"wires":[["a991d297914edca2"]]},{"id":"a991d297914edca2","type":"debug","z":"cee84b4b.ab3628","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":780,"y":1120,"wires":[]},{"id":"fec1b49e2b32d644","type":"global-config","env":[],"modules":{"@mschaeffler/node-red-pwm":"0.1.0"}}]
