node-red-lora/examples/lora.json
[{"id":"9086e31c0e775e65","type":"tab","label":"lora","disabled":false,"info":"","env":[]},{"id":"9c15e97d4cf3fcd2","type":"comment","z":"9086e31c0e775e65","name":"Lora Network Server","info":"","x":110,"y":80,"wires":[]},{"id":"28bba85c5f90d1a0","type":"lorawan-packet-encoder","z":"9086e31c0e775e65","name":"","keys":"88e58d5c.be73","power":"14","x":170,"y":260,"wires":[["75ea896c27197594"],["1ba18050eaa272a6"]]},{"id":"75ea896c27197594","type":"lorawan-server","z":"9086e31c0e775e65","name":"","port":"1700","x":370,"y":260,"wires":[["410f2e453544e152"],["fa137d2c476ff189"]]},{"id":"410f2e453544e152","type":"lorawan-packet-decoder","z":"9086e31c0e775e65","name":"","keys":"88e58d5c.be73","txdelay":"1012500","x":570,"y":180,"wires":[["279d399d93113fa4"],["528ae0d52dbca48b"],["28bba85c5f90d1a0"]]},{"id":"279d399d93113fa4","type":"lorawan-packet-checkFC","z":"9086e31c0e775e65","name":"","x":760,"y":120,"wires":[["bd3ff72455a28247"],["22ae0a2b01a9666a"],["c48da27e33ee0b69"]]},{"id":"fa137d2c476ff189","type":"debug","z":"9086e31c0e775e65","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"528ae0d52dbca48b","type":"debug","z":"9086e31c0e775e65","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":180,"wires":[]},{"id":"c48da27e33ee0b69","type":"debug","z":"9086e31c0e775e65","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":160,"wires":[]},{"id":"22ae0a2b01a9666a","type":"debug","z":"9086e31c0e775e65","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":120,"wires":[]},{"id":"bd3ff72455a28247","type":"link out","z":"9086e31c0e775e65","name":"lora rx","mode":"link","links":["cb0bce30c27e099e","5950725d0edd8b5f"],"x":950,"y":80,"wires":[],"l":true},{"id":"8a74d3c22a295f16","type":"comment","z":"9086e31c0e775e65","name":"Lora RX messages","info":"","x":110,"y":460,"wires":[]},{"id":"cb0bce30c27e099e","type":"link in","z":"9086e31c0e775e65","name":"lora rx","links":["bd3ff72455a28247"],"x":110,"y":520,"wires":[["13e2ba9f2595727f"]],"l":true},{"id":"13e2ba9f2595727f","type":"switch","z":"9086e31c0e775e65","name":"port","property":"payload.port","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":270,"y":520,"wires":[["5f0d014ae420ca05"],["624a2abaf249d294"]],"outputLabels":["network message","application message"]},{"id":"c3d9c711b63be515","type":"comment","z":"9086e31c0e775e65","name":"Lora network message","info":"","x":120,"y":340,"wires":[]},{"id":"5f0d014ae420ca05","type":"switch","z":"9086e31c0e775e65","name":"CID","property":"payload.data[0]","propertyType":"msg","rules":[{"t":"eq","v":"13","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":290,"y":400,"wires":[["c318403acf88bdb5"],["18376b8d7ee6e760"]],"outputLabels":["DeviceTimeReq",""]},{"id":"c318403acf88bdb5","type":"debug","z":"9086e31c0e775e65","name":"DeviceTimeReq","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload.name & \": \" & payload.data[0]","statusType":"jsonata","x":460,"y":380,"wires":[]},{"id":"18376b8d7ee6e760","type":"debug","z":"9086e31c0e775e65","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload.name & \": \" & payload.data[0]","statusType":"jsonata","x":450,"y":420,"wires":[]},{"id":"624a2abaf249d294","type":"switch","z":"9086e31c0e775e65","name":"type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"foo","vt":"str"},{"t":"eq","v":"bar","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":430,"y":540,"wires":[["509be58f851d49e2"],["a86428a3ab302140"],["067fc867635e4614"]]},{"id":"509be58f851d49e2","type":"debug","z":"9086e31c0e775e65","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":500,"wires":[]},{"id":"a86428a3ab302140","type":"debug","z":"9086e31c0e775e65","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":540,"wires":[]},{"id":"067fc867635e4614","type":"debug","z":"9086e31c0e775e65","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":580,"wires":[]},{"id":"b09d33a517c8a540","type":"comment","z":"9086e31c0e775e65","name":"Command","info":"","x":80,"y":620,"wires":[]},{"id":"c5e47eb06a199b9d","type":"lorawan-queue-message","z":"9086e31c0e775e65","name":"","keys":"88e58d5c.be73","x":300,"y":680,"wires":[]},{"id":"950b7e25cb95da65","type":"inject","z":"9086e31c0e775e65","name":"reset Foo1","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Foo 1","payload":"[4,255]","payloadType":"json","x":120,"y":680,"wires":[["c5e47eb06a199b9d"]]},{"id":"1ba18050eaa272a6","type":"debug","z":"9086e31c0e775e65","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":410,"y":300,"wires":[]},{"id":"9887d25f190852ef","type":"inject","z":"9086e31c0e775e65","name":"set frame counter","props":[{"p":"framecounter","v":"1000","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":180,"wires":[["28bba85c5f90d1a0"]]},{"id":"88e58d5c.be73","type":"lorawan-keys","name":"Lora-Example","keys":"{\"12345678\":{\"nsw\":\"00000000000000000000000000000000\",\"asw\":\"123456789abcdef00000000000000000\",\"type\":\"foo\",\"name\":\"Foo 1\"},\"0000abcd\":{\"nsw\":\"00000000000000000000000000000000\",\"asw\":\"00000000000000000000000000000000\",\"type\":\"bar\",\"name\":\"Bar 1\"}}"}]