node-red-init/examples/init.json
[{"id":"00d464726339dd17","type":"initFlow","z":"cee84b4b.ab3628","name":"test_flow","value":"{\"wert\":3.141592}","valueType":"str","x":1020,"y":580,"wires":[]},{"id":"156418897f62be23","type":"inject","z":"cee84b4b.ab3628","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":540,"wires":[["00d464726339dd17"]]},{"id":"b898e8aa97619c24","type":"inject","z":"cee84b4b.ab3628","name":"reset","props":[{"p":"reset","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":850,"y":620,"wires":[["00d464726339dd17","7477687ff6584780"]]},{"id":"7477687ff6584780","type":"initGlobal","z":"cee84b4b.ab3628","name":"test_global","value":"Qwertzu","valueType":"str","x":1030,"y":660,"wires":[]},{"id":"7c54c11d6647d175","type":"inject","z":"cee84b4b.ab3628","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":700,"wires":[["7477687ff6584780"]]}]
