node-red-init/examples/init.json
[
    {
        "id": "0857fe97ef2a1205",
        "type": "inject",
        "z": "cee84b4b.ab3628",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 540,
        "wires": [
            [
                "ce93629a52324761"
            ]
        ]
    },
    {
        "id": "81640285b0779e18",
        "type": "inject",
        "z": "cee84b4b.ab3628",
        "name": "",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 810,
        "y": 620,
        "wires": [
            [
                "ce93629a52324761"
            ]
        ]
    },
    {
        "id": "ce93629a52324761",
        "type": "init-flow",
        "z": "cee84b4b.ab3628",
        "name": "test",
        "value": "Test-Wert",
        "valueType": "str",
        "global": false,
        "x": 970,
        "y": 580,
        "wires": []
    }
]
